.imagem{
    width: 29vh;
    height: 23vh;
    border-radius: 6%;
    border: solid 5px rgb(161, 156, 156);
   

}
.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    width: 100%;
}
@media (min-width: 768px) {
    .comeco {
        flex-direction: row;
    }
}
.perfil {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}
.foto-perfil{
  margin-left: 17%;
  margin-top: -14%;
  
}
.imagem-hab {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.conteudo1, .conteudo2{
    margin-top: 10%;
    margin-left: 3%;
}

    
