.imagem{
    width: 29vh;
    height: 23vh;
    border-radius: 6%;
    border: solid 5px rgb(161, 156, 156);
   

}
.perfil{
    height: 55vh;
    width: 40vh;
    border-radius: 3%;
    
}
.foto-perfil{
  margin-left: 17%;
  margin-top: -14%;
  
}



.imagem1{
    display: inline-block;
}
.imagem1{
    width: 20%;
    height: 20%;
   
    overflow: hidden;

}
.conteudo1, .conteudo2{
    margin-top: 10%;
    margin-left: 3%;
}

    
