body{
   height: 100px;
   margin: 0%;
 
    
}
.comeco{
    margin-top: 14%;
}


section {
   scroll-behavior: smooth;
    margin-top: 17%;
    margin-bottom: 30%;
    padding: 0;
  
    
}
h2,p{
    margin-top: 0;
    margin-bottom: 5%;
}
html{
    scroll-behavior: smooth;
    margin-top: 5%;
   
}

