body{
    background-image: linear-gradient(to left, rgb(9, 9, 9), rgb(15, 14, 14), rgb(20, 19, 19));
   background-size: 500% 100%;
   
    
}
.comeco{
    margin-top: 260px;
}


section {
   scroll-behavior: smooth;
    margin-top: 250px;
    margin-bottom: 50px;
    padding: 0;
  
    
}
h2,p{
    margin-top: 0;
    margin-bottom: 10px;
}
html{
    scroll-behavior: smooth;
    margin-top: 10px;
   
}

.cubo{
    margin-top: 100px;
}