.titulo{
    text-align: center;
    font-size: 80px;
  -webkit-text-fill-color: red;
    
}



.menu-lista a.texto {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.menu-lista a.texto:hover {
    background-color:rgb(174, 21, 21); 
    color: #121212; 
    transform: translateY(-3px); 
}

.menu-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}
.texto-perfil {
    width: 300px;              
    height: 300px;               
    padding: 20px;             
    box-sizing: border-box;    
    display: flex;
    align-items: center;
    text-align: center;
}
.descricao{
    color: white;
    font-size: 21px;
    text-align: center;
}
.descricao1, .descricao2{
     width: 300px;              
    height: 300px;               
    padding: 20px;
    color:white;           
    box-sizing: border-box;    
    display: flexbox;
    align-items: center;
    text-align: center;
    font-size: 20px;
    display: inline-block;
}
.descricao3{
    color: white;
    font-size: 23px;
    margin-top: -60px;
    background-color: #121212;
    height: 300px;
    width: 1000px;
    overflow: hidden;
    
}


   
   
   
    






